@font-face {
  font-family: 'BMYEONSUNG';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/bmyeonsung/BMYEONSUNG.eot');
  src: url('../assets/fonts/bmyeonsung/BMYEONSUNG.eot?#iefix') format('embedded-opentype'), local('BMYEONSUNG'), url('../assets/fonts/bmyeonsung/BMYEONSUNG.woff') format('woff'), url('../assets/fonts/bmyeonsung/BMYEONSUNG.ttf') format('truetype'), url('../assets/fonts/bmyeonsung/BMYEONSUNG.svg#Lato') format('svg');
}
